body {
    font-family: Arial, sans-serif;
    background-color: #ffdae8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 18px; /* Increased font size */
    line-height: 1.6;
    overflow: auto; /* Allows scrolling */
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center; /* Center container by default */
    width: 100%;
    min-height: 100vh; /* Ensures the wrapper takes at least the full viewport height */
    box-sizing: border-box;
    padding-top: 0px; /* Space for scrolling case */
    position: relative; /* Allows the top margin adjustment */
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 28px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px; /* Maximum width for the container */
    width: 90%; /* Ensures the container is responsive */
    box-sizing: border-box; /* Ensures padding and border are included in the width/height */
}

/* Ensure the padding-top does not affect the container if it's not needed */
body:not(:has(.container:overflow)) .wrapper {
    padding-top: 0; /* Remove extra padding if not scrolling */
}

h1 {
    margin-bottom: 20px;
}

.folders {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.folder {
    display: flex;
    align-items: center;
    margin: 10px;
}

.folder-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    transition: transform 0.3s;
}

.folder a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.folder a span {
    margin-left: 10px;
    text-align: left;
}

.folder a:hover .folder-icon {
    transform: scale(1.1);
}
